.post {
	padding-block: 10px;
	padding-inline: 10px;
	margin-bottom: 1px;
	width: 100%;
	max-width: 100%;

	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.3s;

	cursor: pointer;

	box-sizing: border-box;
	border-bottom: 1px solid gray;

	display: flex;
}

.post:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.post__reference {
	margin-top: 5px;

	padding: 2px;
	border-radius: 7px;
	border: 1px solid gray;

	transition: background-color 0.3s;
	background-color: rgba(0, 0, 0, 0);
}

.post__reference:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.post__reference div {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}

.post__reference div:hover {
	background-color: rgba(0, 0, 0, 0);
}

.post__content {
	padding-left: 10px;
}

.post__author {
	display: flex;
	align-items: center;
}

.post__author_avatar {
	object-fit: cover;

	width: 40px;
	height: 40px;
	border-radius: 100%;

	cursor: pointer;

	margin-right: 5px;

	transition: 0.2s opacity ease-in-out;
}

.post__author_avatar:hover {
	opacity: 0.8;
}

.post__author_username {
	color: black;
	cursor: pointer;
	text-decoration: none;

	font-weight: 600;
}

.post__author_username:hover {
	text-decoration: underline;
}

.post__author_tag {
	margin-left: 2px;
	color: gray;
	text-decoration: none;
}

.post__timestamp {
	color: gray;
}

.post__timestamp:hover {
	text-decoration: underline;
}

.post__footer_button {
	/* Remove the button styling and set height to 90% */
	border: 0;
	height: 30px;
	width: 30px;
	padding: 0;

	border-radius: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	/* transition background color */
	transition: background-color 0.3s;
	background-color: rgba(0, 0, 0, 0);

	cursor: pointer;
}

.post__footer_button i {
	color: black;
	transition: color 0.3s;
}

.post__footer_button:hover {
	background-color: rgba(60, 255, 60, 0.4);
}

.post__footer_button:hover i {
	color: green;
}

.post__footer_button__like {
	/* Remove the button styling and set height to 90% */
	border: 0;
	height: 30px;
	width: 30px;
	padding: 0;

	border-radius: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	/* transition background color */
	transition: background-color 0.3s;
	background-color: rgba(0, 0, 0, 0);

	cursor: pointer;
}

.post__footer_button__like[data='liked'] i {
	color: red;
	transition: color 0.3s;
}

.post__footer_button__like:hover {
	background-color: rgba(255, 60, 60, 0.4);
}

.post__footer_button__like:hover i {
	color: red;
}

.post__footer {
	margin-top: 10px;
	height: 30px;

	display: flex;
}
