.post {
	padding-block: 10px;
	padding-inline: 10px;
	margin-bottom: 1px;
	width: 100%;

	background-color: rgb(255, 255, 255);
	transition: background-color 0.3s;

	cursor: pointer;

	box-sizing: border-box;
	border-bottom: 1px solid gray;

	display: flex;
}

.post:hover {
	background-color: rgb(245, 245, 245);
}

.post__content {
	padding-left: 10px;
}

.post__author {
	display: flex;
	align-items: center;
}

.post__author_avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;

	margin-right: 5px;
}

.post__author_username {
	color: black;
}

.post__author_tag {
	margin-left: 2px;
	color: gray;
}

.post__timestamp {
	color: gray;
}
